.env
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.venv
*.egg-info/
dist/
build/
*.log
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# # 数据库迁移（开发阶段）
# migrations/

# 数据内容
data/*
migrations

# 导出文件和测试数据
exports/

# 测试脚本
tests/*


# 临时文件
*.tmp
*.bak
nohup.out
